.calender {
    word-wrap: break-word;
    padding: 0 10px;
}

.week {
    margin-top: 10px;
}

.week .row:last-child div {
    border-bottom: 1px solid lightgray;
}

.week .row:first-child div {
    border-top: 1px solid lightgray;
}

.calender .col-md {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.t-header {
    background-color: rgba(0, 0, 0, .03);
}

.col {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-active {
    font-weight: bold;
}